body {
  background-image: url("background.jpg");
  background-repeat: repeat;
  background-position: fixed;
  background-size: cover;
  max-width: 100%;
}
h3 {
  color: white;
}

#all {
  color: white;
}

h1 {
  text-align: left;
  font-size: 50px;
}

#images {
  text-align: center;
}

.topnav {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.nav-link {
  color: black !important;
}

.navbar-brand {
  font-weight: bold !important;
}

.dropdown {
  color: black !important;
  position: absolute !important;
  right: 5%;
}

.topnav a {
  float: left;
  color: black;
  font-weight: 500;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgba(77, 77, 77, 0.151);
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
.container {
  color: black;
}

.navcont {
  box-shadow: 0px 6px 14px -5px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 6px 14px -5px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 6px 14px -5px rgba(0, 0, 0, 0.49);
  background-color: rgba(255, 255, 255, 0.281);
}

.contact-info {
  color: white;
  position: relative;
  margin: auto;
  max-width: 50%;
}
.mapouter {
  margin: auto;
  max-width: 50%;
  margin-bottom: 100px;
}

.contact-form {
  background: #fff;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 70%;
}
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form form {
  padding: 14%;
}
.contact-form form .row {
  margin-bottom: -7%;
}
.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

.form-group {
  padding: 10px;
}
