body {
    background-image : url('background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;



}

#all{
    color: white;
}

#home{
    text-align: center;
}

#comments{
    height: 200px;
    width: 400px;
    text-align: left;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }